.create-study-set-form {
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 20px;
  align-items: center;
}

.add-flashcard-button {
  width: 130px;
}

.create-set-button {
  width: 100px;
}

textarea,
input {
  background-color: #041c34;
  color: #d9dde8;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.enter-set-name-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.enter-set-name-container p {
  width: 70%;
  text-align: start;
  margin: 0;
  color: red;
  font-size: 12px;
}

.create-flashcard p {
  width: 70%;
  text-align: start;
  margin: 0;
  color: red;
}

.enter-set-input {
  width: 70%;
  height: 20px;
  outline: none;
  border-radius: 4px;
  border: none;
}

.enter-set-input:focus {
  border: 2px solid #3ccfcf;
}

.create-flashcard-header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 5px 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #041c34;
  margin-bottom: -33px;
}

.index-container {
  text-align: start;
}

.create-flashcard {
  padding: 5px 10px 20px 10px;
  background-color: #041c34;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin: 15px;
  width: 70%;
}

.create-term-container,
.create-definition-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.create-term-container p,
.create-definition-container p {
  font-size: 12px;
  width: 100%;
  margin: 0;
  align-self: flex-start;
}

.create-term,
.create-definition {
  border: none;
  border-bottom: 1px solid #fff;
  resize: none;
  background-color: #041c34;
}

.create-term:focus,
.create-definition:focus {
  outline: none;
  border-bottom: 2px solid #3ccfcf;
  outline: none;
  box-shadow: none;
}

.create-flashcard button {
  margin-left: auto;
}

.remove-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
}

.remove-button:hover {
  cursor: pointer;
  color: white;
}

.remove-button-disabled {
  color: grey;
}

@media only screen and (max-width: 600px) {
  .create-flashcard {
    padding: 10px;
    background-color: #041c34;
    border-radius: 4px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
  }
}
