.study-set-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 150px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  background-color: #05203e;
  padding: 15px;
  transition: border 0.3s ease;
}

.study-set-card:hover {
  cursor: pointer;
  border: 1px solid white;
}

/* Styles for mobile screens */
@media only screen and (max-width: 600px) {
  .study-set-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 160px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    background-color: #05203e;
  }
}
